{% extends 'base.html.twig' %}

{% block title %}Résultat du Quiz{% endblock %}

{% block body %}
    <div class="container mt-5" style="padding: 150px;">

        <h2 class="text-center">Résultat du Quiz</h2>
        <p class="text-center">Score obtenu : <strong>{{ resultat.score }}%</strong></p>
        
        <div class="text-center mt-4">
            <a href="{{ path('app_quiz_index') }}" class="btn btn-primary">Retour aux quiz</a>
        </div>
    </div>
{% endblock %}
